.section-contact{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-title{
  display: flex;
  flex-direction: row;
  text-align: center;
  font-family: inter,arial;
  font-size: 48px;
  font-weight: bolder;
  color: white;
  text-decoration: underline;
  text-decoration-color:#33A652 ;
  margin-bottom: 60px;
}
.contact-subtitle{
  display: flex;
  flex-direction: row;
  font-family: inter,arial;
  font-size: 32px;
  font-weight: 600;
  color: white;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  left: 250px;
  width: 100%;
}
.contact-detail-box{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.contact-detail-row{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 150px;
}
.contact-detail{
  width: 400px;
  height: 64px;
  border-radius: 10px;
  border:none;
  background-color: #232426;
  margin-top: 45px;
  font-family: inter,arial;
  font-size: 20px;
  font-weight: 500;
  color: white;
  padding-left: 20px;
}
.contact-detail::placeholder{
  color: #A09486;
  font-family: inter,arial;
  font-size: 20px;
  font-weight: 500;
}
.contact-message{
  height: 200px;
  width: 975px;
  border-radius: 10px;
  border:none;
  background-color: #232426;
  margin-top: 45px;
  font-family: inter,arial;
  font-size: 20px;
  font-weight: 500;
  color: white;
  padding-left: 20px;
  padding-top: 20px;
  resize: none;
}
.contact-message::placeholder{
  color: #A09486;
  font-family: inter,arial;
  font-size: 20px;
  font-weight: 500;
}
.contact-send-button{
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 180px;
  border: solid;
  border-color: #33A652;
  border-radius: 40px;
  font-size: 24px;
  font-family: inter,arial;
  font-weight: bold;
  color: white;
  background-color: transparent;
  border-width: 4px;
  margin-top: 10px;
  align-self: start;
  margin-left: 0;
  justify-content: center;
  padding-top: 5px;
  gap: 8px;
}
.send-icon{
  transition: filter 0.3s;
}
.contact-send-button:hover .send-icon{
  filter:drop-shadow(0 0 6px rgba(255,255,255,0.3));
}
